{% extends 'base.html' %}

{% block title %}Bir Fikrim Var - Hakkında{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Hakkında</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bir Fikrim Var</h5>
                <p class="card-text">
                    "Bir Fikrim Var" platformu, kullanıcıların fikirlerini, düşüncelerini, önerilerini ve şikayetlerini
                    paylaşabilecekleri bir sosyal medya platformudur. Bu platform, yazılım staj projesi kapsamında geliştirilmiştir.
                </p>
                <p class="card-text">
                    Platforma kayıt olan kullanıcılar, fikirlerini paylaşabilir, diğer kullanıcıların fikirlerine yorum yapabilir
                    ve beğenebilirler. Bu sayede fikirler daha geniş kitleler tarafından görülebilir ve tartışılabilir.
                </p>
                <p class="card-text">
                    Bu platform, Django web framework'ü kullanılarak Python programlama dili ile geliştirilmiştir.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}